html {
   font-family: JetBrains Mono !important;
   font-size: 12px;
}
.supsub {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    margin-top: -.5em;
    font-size: 80%;
    padding-top: .05em;
}

span {
    padding-top: inherit;
}
